@{
    Layout = null;
}

<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>portfolio</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/portfolio.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 2.27.3, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">


    <meta property="og:title" content="portfolio">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body">
    <section class="u-clearfix u-section-1" id="team"  style=" background-color: #fafafa !important">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-12 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-col">
                        <div class="u-size-40">
                            <div class="u-layout-row">
                                <div class="u-size-40">
                                    <div class="u-layout-col">
                                        <div class="u-container-style u-image u-layout-cell u-left-cell u-size-60 u-image-1" data-image-width="1600" data-image-height="1200">
                                            <div class="u-container-layout u-container-layout-1"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-size-20">
                                    <div class="u-layout-col">
                                        <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-2" data-image-width="1600" data-image-height="1328">
                                            <div class="u-container-layout u-container-layout-2"></div>
                                        </div>
                                        <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-3" data-image-width="562" data-image-height="640">
                                            <div class="u-container-layout u-container-layout-3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-20">
                            <div class="u-layout-row">
                                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-4" data-image-width="1200" data-image-height="1600">
                                    <div class="u-container-layout u-container-layout-4"></div>
                                </div>
                                <div class="u-container-style u-image u-layout-cell u-size-20 u-image-5" data-image-width="1600" data-image-height="894">
                                    <div class="u-container-layout u-container-layout-5"></div>
                                </div>
                                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-6" data-image-width="1200" data-image-height="1600">
                                    <div class="u-container-layout u-container-layout-6"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>